<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lego Layout</title>
    </head>
    <body>
        <div class="lego">
            <header p10 bgc97c430 fs15 fw500>
                <h1 fs16 fw500>header logo</h1>
                <nav ml20>
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">JavaScript</a>
                    <a href="">CSS</a>
                    <a href="">Login</a>
                </nav>
            </header>
            <main bgcfae32f>main</main>
            <aside bgcfe6915>
                aside
                <p>这是一段测试文本。</p>
            </aside>
            <footer bgc4fadce>
                <p>footer</p>
            </footer>
        </div>

        <script type="module" src="main.js"></script>
    </body>
</html>
