<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lego Layout</title>
    </head>
    <body>
        <div class="lego">
            <header class="p10 bgc#97c430 fs15 fw500">
                <div class="logo" fs16 fw500>header logo</div>
                <nav class="ml20">
                    <a href="">Home</a>
                    <a href="">About</a>
                    <a href="">JavaScript</a>
                    <a href="">CSS</a>
                    <a href="">Login</a>
                </nav>
            </header>
            <main class="bgc#fae32f">
                <div class="lego-box product">
                    <h3 class="product--title">分类商品名称</h3>
                    <ul>
                        <li>
                            <img src="http://iph.href.lu/600x400" alt="">
                            <p><em>商品名称</em></p>
                            <p>商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</p>
                            <a href="" class="lego-btn">button</a>
                        </li>
                        <li>
                            <img src="http://iph.href.lu/600x400" alt="">
                            <p><em>商品名称</em></p>
                            <p>商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</p>
                            <a href="" class="lego-btn">button</a>
                        </li>
                        <li>
                            <img src="http://iph.href.lu/600x400" alt="">
                            <p><em>商品名称</em></p>
                            <p>商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述商品描述</p>
                            <a href="" class="lego-btn">button</a>
                        </li>
                    </ul>
                </div>
            </main>
            <aside class="bgc#fe6915">
                <h2>aside</h2>
                <p>这是一段测试文本。</p>
                <div class="flex-box d-f jc-sb fw-w">
                    <div class="flex-item w50px">1</div>
                    <div class="flex-item w50px">2</div>
                    <div class="flex-item w50px">3</div>
                    <div class="flex-item w50px">4</div>
                    <div class="flex-item w50px">5</div>
                    <div class="flex-item w50px">6</div>
                    <div class="flex-item w50px">7</div>
                    <div class="flex-item w50px">8</div>
                    <div class="flex-item w50px">9</div>
                </div>
            </aside>
            <footer class="bgc#4fadce">
                <p>footer</p>
            </footer>
        </div>

        <script type="module" src="main.js"></script>
    </body>
</html>
