@import "../src/scss/_mixin";

@layer {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        font-family: Archia,sans-serif;
    }
}


.lego {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    // 长度单位 fr(fraction) 一般来说 1fr 的意思是“100%的剩余空间”
    grid-template-columns: repeat(12, 1fr);
    // auto 的作用类似于 flex 布局；fr 的作用类似于 flex 中的 flex=1；
    grid-template-rows: 1fr auto auto;

    // 设置行与行之间的 xy 间距
    // gap: 10px;
    
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "a a m m m m m m m m m m"
        "f f f f f f f f f f f f";

    @include pad {
        width: 100%;
    }   

    @include phone {
        width: 100%;
        grid-template-areas: 
            "h h h h h h h h h h h h"
            "m m m m m m m m m m m m"
            "a a a a a a a a a a a a"
            "f f f f f f f f f f f f";
    }
}
header {
    // grid-column: span 12;
    grid-area: h;
    
    display: flex;
    // justify-content: space-between;
    // flexbox 一维布局，以内容为基础
    .logo {
       display: block;
       width: 100px;
       height: 100px;
       background-color: #fff;
    }

    nav {
        // nav 同时作为 flex 子元素，flex-grow: 1 表示占据剩余空间
        flex-grow: 1;

        // 
        display: flex;
        // 排列方向和是否换行
        flex-flow: row wrap;
        // X轴对齐方式
        justify-content: flex-start;
        // Y轴对齐方式
        align-items: end;
        // 设置 x y 间距
        gap: 0 5px;
        a {
            flex: 0 1 auto;
            padding: 4px 8px;
            background-color: #fff;
            &:last-child {
                margin-left: auto;
            }
        }

    }
    @include phone {
        flex-direction: column;
        .logo {
            margin: 0 auto 10px;
        }
        nav {
            justify-content: center;
            > a:last-child{
                margin-left: 0
            }
        }
    }
}
main {
    // grid-column: span 10;

    // grid-column: 3 / span 10;

    grid-area: m;
}
aside {
    // grid-column: span 2;

    // grid-column: 1 / span 2;
    // grid-row: 2 / 3;

    grid-area: a;

    .flex-box {
        // flex-wrap: wrap;
        .flex-item {
            background-color: #fff;
            width: 50px;
            height: 50px;
        }
    }


}
footer {
    // grid-column: span 12;

    grid-area: f;
    padding: 10px;
    p {
        text-align: center;
    }
}


// grid 二维布局，以布局为基础

.product {
    h3 {
        text-align: center;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        li {
            flex: 0 1 300px;
            text-align: center;
            em {
                font-weight: 700;
                font-style: normal;
            }
            img {
                width: 100%;
            }
        }
    }
}