@import "../src/mixin";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Archia,sans-serif;
}

.lego {
    display: grid;
    // 长度单位 fr(fraction) 一般来说 1fr 的意思是“100%的剩余空间”
    grid-template-columns: repeat(12, 1fr);
    // auto 的作用类似于 flex 布局；fr 的作用类似于 flex 中的 flex=1；
    grid-template-rows: 1fr auto 1;
    // column-gap: 10px; row-gap: 10px;
    // gap: 10px;
    grid-template-areas: 
        "h h h h h h h h h h h h"
        "a a m m m m m m m m m m"
        "f f f f f f f f f f f f";

    @include mobile {
        grid-template-areas: 
            "h h h h h h h h h h h h"
            "m m m m m m m m m m m m"
            "a a a a a a a a a a a a"
            "f f f f f f f f f f f f";
    }
}
header {
    // grid-column: span 12;

    grid-area: h;

    h1 {
       display: block;
       width: 100px;
       height: 100px;
       background-color: #fff;
    }
    display: flex;
    // justify-content: space-between;
    // flexbox 一维布局，以内容为基础
    nav {
        display: flex;
        flex-grow: 1;
        // justify-content: center;
        align-items:end;

        // justify-content: space-between;
        // align-items: center;     

        a {
            display: inline-block;
            padding: 4px 8px;
            background-color: #fff;
            margin-right: 5px ;
        }
        > li:last-child {
            margin-left: auto;
        }
    }
    @include mobile {
        h1{
            margin: 0 auto 10px;
        }
        flex-direction: column;
        nav {
            justify-content: center;
            > li:nth-child(3){
                margin-left: 0
            }
        }
    }
}
main {
    // grid-column: span 10;

    // grid-column: 3 / span 10;

    grid-area: m;
}
aside {
    // grid-column: span 2;

    // grid-column: 1 / span 2;
    // grid-row: 2 / 3;

    grid-area: a;
}
footer {
    // grid-column: span 12;

    grid-area: f;
    padding: 10px;
    p {
        text-align: center;
    }
}


// grid 二维布局，以布局为基础