$color-red: #e6252a;
$color-green: #97c430;
$color-blue: #4fadce;
$color-yellow: #fae32f;
$color-orange: #fe6915;
$color-purple: #e4599c;

.is-danger {
    background-color: $color-red;
}
.is-success {
    background-color: $color-green;
}
.is-info {
    background-color: $color-blue;
}
.is-warning {
    background-color: $color-yellow;
}
.is-primary {
    background-color: $color-orange;
}