%color-red {
    color: #e6252a;
}
%color-green {
    color: #97c430;
}
%color-blue {
    color: #4fadce;
}
%color-yellow {
    color: #fae32f;
}
%color-orange {
    color: #fe6915;
}
%color-purple {
    color: #e4599c;
}