@use "normalize";
@use "for";
@use "mixin";
@use "func";
@use "color";
@use "button";
body {
    font-size: 16px;
    font-family: "Arial", sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// 插值 #{}，用于将变量插入到字符串中
@mixin fontsizes($class, $small, $medium, $big) {
    .#{$class}-small { font-size: $small; }
    .#{$class}-medium { font-size: $medium; }
    .#{$class}-big { font-size: $big; }
}
@include fontsizes("header-text", 12px, 20px, 40px);

// 数字函数
// percentage($number) 将数字转换为百分比
// calc(+ - * /) 用于计算
// round($number) 四舍五入
// floor($number) 向下取整
// abs($number) 绝对值
// min($number…)
// max($number…)
// clamp($min, $number, $max) 多单位类型运算，获取范围内的数值，区间限制
// 算术操作符 + - * / %
ins {
    width: calc(100% - 100px);
    height: 100px;
    background-color: red;
}

// 反思函数
// type-of($value) 获取值的类型
// unit($number) 获取单位
// unitless($number) 判断是否有单位
// comparable($number1, $number2) 判断是否可以比较
// call($function, $args…) 调用函数
// get-function($name, $css: false) 获取函数
// inspect($value) 输出值
// variable-exists($name) 判断变量是否存在
// global-variable-exists($name) 判断全局变量是否存在
// function-exists($name) 判断函数是否存在
// mixin-exists($name) 判断混合器是否存在
// feature-exists($name) 判断特性是否存在
// keywords($args) 获取关键字参数
// content-exists() 判断是否有内容块
// unique-id() 获取唯一 ID


// 嵌套: & 父选择器 ,群组选择器 > 子选择器 ~ 同层全体选择器 + 同级相邻选择器
// 属性嵌套
.ins {
    font: {
        size: 16px;
        weight: bold;
    }
    &:hover {
        color: red;
    }
    & &-title {
        color: blue;
    }
    body & {
        color: green;
    }
}

// 占位符选择器 % @extend 继承
%border-style {
    border: 1px solid #000;
}
%clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}
ins {
    @extend %clearfix;
    @extend %border-style;
    @extend .ins;
}



