@import "./_var.scss";

.is-danger {
    background-color: var(--color-red);
}
.is-success {
    background-color: var(--color-green);
}
.is-info {
    background-color: var(--color-blue);
}
.is-warning {
    background-color: var(--color-yellow);
}
.is-primary {
    background-color: var(--color-orange);
}